{% extends 'base.html.twig' %}

{% block title %}Hello EmployesController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Ajouter un employé ✅</h1>

        {% if app.user.hasRole('ADMIN') %}
            <a href="{{ path('employes') }}">Retour</a>
        {% endif %}

    {{ form_start(registrationForm) }}
    {{ form_end(registrationForm) }}

        <a href="{{ path('app_logout') }}">Se déconecter</a>
{% endblock %}