{% extends 'base.html.twig' %}

{% block title %}Hello EmployesController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Les employés ✅</h1>

    {% if app.user.hasRole('ADMIN') %}
        <a href="{{ path('add_employe') }}">Ajouter un employé</a>
    {% endif %}
    <a href="{{ path('app_logout') }}">Se déconecter</a>
    <table>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Secteur</th>
        <th>Photo</th>

        {% if app.user.hasRole('ADMIN') %}
        <th>Action</th>
        {% endif %}

        {% for emp in employes %}
        <tr>
            <td>{{ emp.firstname }}</td>
            <td>{{ emp.lastname }}</td>
            <td>{{ emp.email }}</td>
            <td>{{ emp.secteur }}</td>
            <td><img style="max-width: 50px;" src="{{ emp.image }}"></td>
            {% if app.user.hasRole('ADMIN') and app.user != emp %}
                <td><a href="{{ path('delete_employes', {'employe': emp.id}) }}">Supprimer</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
